
@media (max-width: 1570px) {
    /*  */
    .img_engineer
    {
        margin-left: 120px;
        margin-top: -20px;
    }
    .img_company
    {
        margin-left: 140px;
        margin-top: -20px;
    }
}

@media (max-width: 1200px) {
    .container_engineer
    {
        display: grid;
        justify-content: center;
    }
    .container_engineer::after
    {
        margin-top: 850px;
    }
    .container__text_engineer
    {
        margin: 0 auto;
    }
    .img_engineer
    {
        margin: 0 auto;
        margin-top: 80px;
    }
    /**/
    .about_company
    {
        display: grid;
        justify-content: center;
    }
    .container__text_company
    {
        margin: 0 auto;
    }
    .img_company
    {
        margin: 0 auto;
        margin-top: 80px;
    }
    /**/
    .info_salary > div
    {
        margin-left: 70px;
    }
}

@media (max-width: 1024px) {
    .container_salary > h1
    {
        font-size: 32px;
        min-width: 200px;
        max-width: 660px;
        width: 100%;
    }
    .container_salary > p
    {
        font-size: 16px;
        min-width: 200px;
        max-width: 660px;
        width: 100%;
    }
    .info_salary > div > p
    {
        font-size: 16px;
        font-weight: 400;
        min-width: 100px;
        max-width: 250px;
        width: 100%;
    }
    
    .info_salary > div > p > span 
    {
        font-weight: 500;
    }
    /**/
    .container_cards
    {
        display: grid;
    } 
    .container_cards > .card
    {

        width: 380px;
    }
    .container_cards > .none_border
    {
        border-width: 0px 2px;
        border-style: solid;
        border-color: var(--border-person);
    }
    .container_cards > .__BB
    {
        border-width: 0px  2px 2px;
    }
    .container_person::before
    {
        margin-top: 1150px;
    }
}

@media (max-width: 768px) {
    .container_engineer::after
    {
        margin-top: 750px;
    }
    .img_engineer
    {
        width: 420px;
    }
    .barracks:hover .info_barracks {
        display: block;
        margin-top: -270px;
        text-align: left;
        margin-left: 25px;
        min-width: 74px;
        max-width: 260px;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .info_salary
{
    display: block;
}
}

@media (max-width: 520px) {
    /* шапка */
    .nav__header_logo
    {
        display: none;
    }
    .container_nav > ul > li
    {
        margin-left: 20px;
    }
        .container_nav > ul > li > a
    {
        font-size: 14px;
    }
    /* шапка ++ */
    .container__BH_text > h1
    {
        font-size: 32px;
    }
    .container__BH_text > p
    {
        font-size: 16px;
    }
    .container__BH_btn > button
    {
        width: 120px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* когда курсы */
    .line__info_courses > p 
    {
        font-size: 16px;
    }

    .container__text_engineer > h1
    {
        font-size: 32px;
        font-weight: 300;
        width: 100%;
    }
    
    .container__text_engineer > p
    {
        font-size: 16px;
        font-weight: 300;
        width: 100%;
    }
    .container_engineer::after
    {
        margin-top: 600px;
    }
    .img_engineer
    {
        width: 270px;
    }
    /* */
    .container__text_company > h1
    {
        font-size: 32px;
        font-weight: 300;
        width: 100%;
    }
    
    .container__text_company > p
    {
        font-size: 16px;
        font-weight: 300;
        width: 100%;
    }
    .img_company
    {
        width: 270px;
    }
}


@media (max-width: 425px) {
    /* когда курсы */
    .line__info_courses
    {
        height: 60px;
    }
}

@media (max-width: 375px) {
    /* когда курсы */
    .line__info_courses > p 
    {
        font-size: 14px;
    }
    .container_cards > .card
    {

        width: 300px;
    }
}


@media (max-width: 332px) {
    .container_engineer::after
    {
        margin-top: 640px;
    }
}